img {
    vertical-align: middle;
    max-width: fit-content;
    max-height: fit-content;
}

.navbar {
    padding-top: 1.250rem;
    background-color: white;
    color: #5b5c65;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 0;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    z-index: 1;
}

.logbutton {
    background-color: #00995D;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid;
    border-color: #00995D;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    padding: 0.4375rem 0.9375rem;
    padding-top: 0rem;
    margin-left: 1rem;


}

.searchbar {
    background-color: #f4f4f4;
    color: #5b5c65;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid;
    border-color: #f2f2f2;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.6875rem;
    font-weight: lighter;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    padding: 0.4375rem 0.9375rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    line-height: 1.563rem;
    
}

.buscanome {
    float: right;
    padding-left: 0.4375rem;
    margin: 0
}

.atendimento {
    font-size: 1rem;
    padding-top: 0.6375rem;
    padding-left: 0.5rem
}

.blank {
   padding: 0.4375rem 0.9375rem;
}

.bigblank{
    padding: 1.4375rem 0.9375rem;
}
.navbarinner {
    margin-right: 0.5rem;
/*    box-shadow: 0px 2px 6px 0px  rgba(16, 16, 16, 0.75); */
    z-index: 100;
    width: 100%;
    border-top : 2px solid #f2f2f2;

}

a {
    color: inherit;
    text-decoration: none;
    text-decoration-style: none;
}

.navinner {
    text-align: left;
font-size: 1.175rem;
font-weight: 400;
font-family: sans-serif;
line-height: 25px;
letter-spacing: 0;
color: #5b5c65;
padding-right: 1.9rem;


}

.navinnerright {
    text-align: left;
    font-size: 0.75rem;
    border-top : 2px solid #f2f2f2;
    z-index: -1;
    
}

.logo {
    max-width: 150px;
    max-height: 65px;
    line-height: 1;

}

ul {
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
}

.bannerimg {
    width: 100%;

}

.banner {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
